@import url(font-awesome.min.css);

:root {
    /* Sizes */
    font-size: 14px;
    --container-width: 1350px;

    /* Colors */
    color:var(--primary-color);
    --primary-color: #000000;
    --secondary-color: #bdbf09;
    --main-bg: #151617;
    --dark-grey: #313335;
    --dark-grey-transparent: rgba(49, 51, 53, 0.7);
    --light-grey: #7a8085;

    /* Special colors */
    --transparent-white: rgba(255, 255, 255, 0.5);

    /* Transistion */
    --transition-duration: .5s;
    --transition-function: ease;
}


/* NORMALIZER */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    background-image: url(/img/parchemin.png);
    /* height: 82vh; */
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
}
html {
    height:100vh
}

.template-dark.disable {
    overflow:hidden;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* UTILITIES */

body.template-dark {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: var(--main-bg);
}

.container {
    margin: 0 auto;
    max-width: var(--container-width);
}

.section {
    margin-bottom: 7rem;
}
/*HEADER ZONE*/

.containerHeader{
    display: flex;
    /* margin-bottom: -400px; */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*FIRST ZONE*/

.together {
    display: flex;

}

.puntos {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem
}

.firstInfo{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem;
    font-size: 1.5rem;
    height: auto;
    margin-top: 0px;

    /* background-color: #555454; */
}

.lvl{
    font-size: 2rem;
    text-align: center;

}
.imgCharacter{
    max-width: 300px;
    max-height: 250px;
    margin-left: 10px;
}

.birthday{
    background-color: rgb(249, 154, 254);

}
.theThreeIcons{
    display: flex;
    align-items: center;
    align-items: flex-end;
    margin-left: 135px;
}
.theThreeIcons img{
    width: 50px;
}

.mainDefMeleeIcon, .mainDefRangeIcon, .detection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.defMelee, .defRange, .detectionIcon{
    margin-top: 5px;
}

.bonusDefMeleeImg , .penaltyDefMeleeImg , .bonusDefRangeImg, .penaltyDefRangeImg, .bonusDetectionImg, .penaltyDetectionImg{
    margin-top: -31px;;
}

.defMeleeImg p{
    margin-left: -200px;
}


.firstInfo2{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem;
    font-size: 1.5rem;
    height: auto;
    margin-top: 0px;
    padding-left: 20px;
}

/*SECOND ZONE*/


.characteristic li{
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
}

.characteristic button{
    width: 100px;
    padding-right: 194px;
    background-color: #bdbf09;
    font-size: 1.8rem;
}
.carac{
    width: 100px;
    padding-right: 200px;
    background-color: #bdbf09;
}

.selected{
    color: #3c01fc;
}

.nB, .adNb, .tT, .attTt{
    width: 50px;
    text-align: right;
    justify-content: center;
    align-items: center;
}

.tT{
    text-align: center;
}
.jauge{
    display: flex;
    flex-direction: column;
}

.jaugeButtonVita , .jaugeButtonEnergie, .jaugeButtonSymbiosis{
    display: flex;
    justify-content:end;
}

.threeButton{
    display: flex;
    gap: 5px;
    margin-left: 5px;
}

.alignButton{
    display: flex;
}

.attribut1 , .attribut2 , .attribut3{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-left: 25px;
}

.attribut1 img{
    margin-right: 0;
}

.secondContent {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 30px;
}

.the3 img{
    width: 30px;
}

.position img{
    width:30px;
}

.mainContent{
    display: flex;
    flex-wrap: wrap;
}

.diceZone {
    display:grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 30px 30px 30px 30px;
    justify-items: center;
    align-items: center;
}

.diceZone input {
    height: 25px;
}

.textPos {
    grid-column: 2/4;
    grid-row: 1;
    width: 470px;
    margin-left: -150px;
}

.diceButton {
    width: 60px;
    grid-column: 2;
    grid-row: 2;
    margin-top: 30px;
    z-index: 1000;
}


.firstDice{
    grid-column: 1;
    grid-row: 2;
}
.secondDice{
    grid-column: 3;
    grid-row: 2;
}

.thirdDice{
    display: none;
    grid-column: 1;
    grid-row: 3;
}

.fourthDice{
    display: none;
    grid-column: 3;
    grid-row: 3;
}


.effectDice{
    grid-column: 1/4;
    grid-row: 4;
    width: 470px;
}

.plusBtn, .minusBtn{
    width: 25px;
}

.animedOff {
    -webkit-box-shadow:0px 0px 15px 7px rgba(255,0,0,0.69);
    -moz-box-shadow: 0px 0px 15px 7px rgba(255,0,0,0.69);
    box-shadow: 0px 0px 15px 7px rgba(255,0,0,0.69);
    border-radius: 50% 50% / 50% 50%;
}

.oneRounded-input {
    width: 50px;
    padding: 10px;
    font-size: 16px;
    margin-top: 5xp;
    margin-top: -30px;
    margin-left: -73px;
    position: absolute;
    z-index: 250;
}

.twoRounded-input {
    width: 50px;
    font-size: 16px;
    margin-top: 5xp;
    margin-top: -30px;
    margin-left: 73px;
    position: absolute;
    z-index: 250;
    text-align: right;
}

.threeRounded-input {
    width: 50px;
    padding: 10px;
    font-size: 16px;
    margin-top: 5xp;
    margin-top: 30px;
    margin-left: -73px;
    position: absolute;
    z-index: 250; 
    visibility: hidden;
}

.fourRounded-input {
    width: 50px;
    font-size: 16px;
    margin-top: 5xp;
    margin-top: 30px;
    margin-left: 73px;
    position: absolute;
    z-index: 250;
    visibility: hidden;
    text-align: right;
}


.dicePlace{
    display: flex;
    flex-wrap: wrap;
    margin-right: 66%;
}

.totalDice{
    display: flex;
    width: 80px;
    height: 80px;
    margin-left:-10px;
    padding-left: 16px;
    font-size: 40px;
}

.mastery{
    display: flex;
}

.mastery1{
    width: 40px;
    height: 40px;
    text-align:center;
    padding-left: 12px;
}

.mastery2{
    width: 40px;
    height: 40px;
    text-align:center;
    padding-left: 12px;
}

.mastery3{
    MARGIN-LEFT: 70px;
    width: 40px;
    height: 40px;
    margin-bottom: -9px;
    margin-top: -40px;
    text-align:center;
    padding-left: 12px;
    visibility: hidden;
}

.mastery4{
    width: 40px;
    height: 40px;
    margin-top: -40px;
    text-align:center;
    padding-left: 12px;
    visibility: hidden;
}

.resultPlace{
    display: flex;
    flex-direction:column;
    align-content: start;
    margin-top: 2px;
    margin-left: -10px;
}
.detailResult{
    width: 460px;
}

.diceResult {
    width: 460px
}

.active{
    display:grid;
    visibility: inherit;
}

.allEffect{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    margin-top: -83px;
    margin-left: 153px;
    margin-bottom: 9px;
}

.allEffect img{
    width: 25px;
}

.bodyOrfen {
    margin-left: 25px;
}
.bodyOrfen img{
    width:160px;
}

.gear {
    margin-left: 25px;
}